<div class="flex-container subscribe">
  <div class="">
    <img class="avatar" src="https://i.imgur.com/JD6sXov.jpg" alt="">
  </div>
  <div class="subscribe-content">
    <h2 id="subscribe-header">Stay in touch</h2>
    I like to write about Ruby and building things, typically once every month or so. Get an email when I have written something new.
    <form action="https://www.getdrip.com/forms/275494850/submissions" class="flex-container" method="post" data-drip-embedded-form="275494850">
      <input type="email" id="drip-email" name="fields[email]" value="" />
      <input type="submit" value="Subscribe" data-drip-attribute="sign-up-button" />
    </form>
  </div>

</div>
