<% cache do %>

  <h1><%= 'Nicholas Schwaderer Personal Home Page' %></h1>
  <ul>
    <li>I professionally write Ruby, Ruby on Rails, web and bot-based applications.</li>
    <li>I write at <a href="https://schwad.github.io">schwad.github.io</a></li>
    <li>I tweet <a href="https://twitter.com/schwad4hd14">here</a></li>
    <li>You can check out <a href="https://github.com/schwad">My Github</a></li>
    <li>Here's <a href="https://github.com/schwad/personal_home_page">the source code for this page</a></li>
    <li>Main passion project: <a href="https://github.com/schwad/mara">Mara</a>, a telegram bot based pain tracker that uses machine learning techniques with the aim to help forecast and predict pain spikes. I have been fortunate <a href="https://www.youtube.com/watch?v=Qf0S29bJbPg">to speak about it at several ruby gatherings</a>.</li>
    <li>Secondary passion project: running since 2017, I <a href="schwad-budget.herokuapp.com">manage my finances with a twilio based budgeting app</a>. It's not open for public use, but if interested in signing up and getting a quote, let me know.</li>
    <li>If you're keen to reach out for commercial projects <a href="mailto:nicholas.schwaderer@gmail.com?subject=Coming via your site">email me</a>.</li>
  </ul>
  <%= render 'subscribe' %>
  <%= render 'posts/rails_core_pr' %>

<% end %>
