<h1>How I got my first pull request merged into Rails core</h1>
<p>
<img class="main" src="https://i.imgur.com/XIOBAIg.png" alt="Favorite" /></p>

<p><a href="https://github.com/rails/rails/pull/33523">DHH recently reviewed and merged my first ever pull request to Rails core</a>. Short of getting my first Ruby job years ago, this is my most proud Ruby-achievement to date.</p>

<p>Open source contributions are terrifying to many - even me.</p>

<p>I want to tell you how I got here. This post will be equal parts personal experiences and concrete steps to meaningfully level up your open-source participation <strong>while still being a hard-working developer at your day job</strong>.</p>
<header>
  <h2 id="whycontribute">Why contribute?</h2>
</header>

<p>It is important to approach contributions with <strong>healthy</strong> motivations. This will help the process come more naturally and enjoyably.</p>

<p>You should contribute in order to:</p>

<ul>
<li>Give back to the community that you rely on</li>

<li>Interact with other developers who are just as passionate about these projects as you</li>

<li>Provide your voice, perspective and feedback to diversify the OSS community</li>

<li>Level up your understanding of core tooling</li>
</ul>

<p>You should not contribute in order to:</p>

<ul>
<li>Be seen by potential employers</li>

<li>Make your github commit chart dark green</li>
</ul>

<p>These are all nice-to-haves that may actually occur, but are unlikely to be sustainable motivations for you as a developer.</p>
<header>
  <h2 id="okaybutwheredoistart">Okay, but where do I start? 🤔</h2>
</header>

<p>To get started, do not troll around on github reading endless lists of pull requests and issues. You need a constant guided feed of things to review, and the perfect tool for that (<a href="https://github.com/schneems">very kindly created by Schneems</a>) is CodeTriage.</p>

<p>
<img class="main" src="https://i.imgur.com/DAbjF4H.png" alt="Favorite" /></p>

<p>Go to <a href="https://www.codetriage.com">codetriage.com</a> and sign up. Right now. Go ahead, open a new tab and I will still be here when you come back. If you take absolutely nothing from this piece except for joining codetriage, I will feel justified.</p>

<p>CodeTriage is a tool that allows you to 'subscribe' to github repositories that you may be interested in contributing to. Then, once a week, it feeds you a sample of pull requests and issues from those repositories that have not been recently reviewed (all via email). You can configure how often you get these emails and how many issues are included with them.</p>

<p>Do this, and just get in the habit of reading what comes in at first. Then, jump in. I recommend the following contributions at least at first, and if you never graduate beyond this you will still be a massive OSS help:</p>
<header>
  <h3 id="bethehumanadvocateoftheissueorpullrequest">Be the human advocate of the issue or pull request 🙋</h3>
</header>

<p>
<img class="main" src="https://i.imgur.com/77Zc2i0.png" alt="Favorite" /></p>

<p>This is 80-85% of what I do (and I do not do much, but more on that later). You will see issues and PR's that have stagnated for months or years. You are completely allowed to pop your head around the corner and ask:</p>

<p><code>"@user, do you feel that your question has been fully answered, so we can close this?"</code> or <code>"Hello @user_2! Any chance you've had an opportunity to get that commit together?"</code>.</p>

<p>People have tried to do this with bots, but there is nothing like the urgency of a real, empathetic, caring human behind the ping.</p>

<p>This is 100% of how I use code triage. Even if you ignore your emails and only look at 4-6 issues for a half hour a month, you are giving back in a big way.</p>
<header>
  <h3 id="driveyourgemsdependenciesforward">Drive your gems/dependencies forward ➡️</h3>
</header>

<p>
<img class="main" src="https://i.imgur.com/x8s8JVG.png" alt="Favorite" /></p>

<p>Your applications have dependencies. There's no way around it.</p>

<p>Those who have taken larger applications through major Rails upgrades know all-too-well the pain of gem version conflicts holding the upgrade back. The next time this happens with you, instead of forking and bumping the gem or filing an issue with the maintainers, file a PR updating the <code>gemspec</code> to support your latest Ruby or Rails version. (<code>Note: do your due diligence to ensure that the gem still functions with the new bump.</code>)</p>

<p>This habit actually will help you get involved in larger projects: a win for you and the community!</p>

<p>Recently, this approach led myself and a group of developers to actually move forward with <a href="https://schwad.github.io/ruby/rails/community/2018/08/21/new-community-maintained-trix-gem.html">a new <code>trix</code> gem after the current one lapsed in maintenance</a>.</p>

<p>Also during a Rails 5 major upgrade, I came across a non-Rails-5-complaint and <a href="https://github.com/activerecord-hackery/squeel/pull/428">unmaintained</a> gem. Participating in the discussion helped myself and other developers to move to <a href="https://github.com/rzane/baby_squeel">another maintained gem</a> where I was afforded the chance to help build out the 'migration' part of the wiki. I now have more confidence in the future of my dependencies by participating in the community.</p>

<h3 id="flaguptheproblemclearly">Flag up the problem, clearly 🚩</h3>

<p>Occasionally you will come across a genuine problem or issue with open-sourced code that you rely on. Often times we find 'hacky' ways around the problem or simply stop using that element of functionality.</p>

<p>Here's the thing: <strong>if you have struggled with a problem, odds are someone else has too</strong>.</p>

<p>This is the one element you are most likely to do already, but I really want to underline the importance of sharing issues with the community. That leads to the next issue:</p>
<header>
  <h3 id="fileaprforwhatyouwantsolved">File a PR for what you want solved ✅</h3>
</header>

<p>
<img class="main" src="https://i.imgur.com/lQola4S.png" alt="Favorite" /></p>

<p>When you encounter an issue - if you possibly can - try to file a PR over an issue. This honors maintainers by showing your personal investment in the issue. It also feeds, big time, the above-mentioned benefit of getting you familiar with the core technologies you rely on. Just remember that <strong>closures are OKAY.</strong></p>

<p>When I used <a href="https://edgeguides.rubyonrails.org/active_storage_overview.html">active storage</a> for the first time, the process was as slick as you could imagine. A handful of commands, rake tasks, minimal code required- and I was up and rolling. <strong>EXCEPT IN ONE PLACE</strong></p>

<p>ActiveStorage only works with activerecord objects using integer primary keys. It does not support other types like UUID out of the box. Further, there was no clear 'way' to implement this. I ended up having to go through a <a href="https://www.wrburgess.com/posts/2018-02-03-1.html">step-by-step guide</a> built out by another developer. That did not feel right.</p>

<p>Instead of simply firing up an issue complaining about this, I <a href="https://github.com/rails/rails/pull/32466">filed my own Rails pull request to have a crack at implementing what I wanted.</a>. It was a difficult slog. I worked through an area of Rails-core that I was not familiar with.</p>

<p>After a back-and-forth and several commits, I actually ended up closing the PR. The need was not strong enough and my skills in that area were not sufficient. Like above, closures are okay and healthy. Even if your code does not make it to prime-time the discussion is preserved there as its own documentation.</p>

<h3 id="itisokaytoflakilymakesmallcontributions">⚠️ It is okay to flakily make small contributions ⚠️</h3>

<p>Only a small segment of our community will be able to dedicate full-time or even 5-10H/week to open source participation and contributions. Those of us working full time will often feel 'guilt' about neglecting our OSS-time. Don't. If you end up looking at CodeTriage twice a year for half an hour, filing half a dozen issues a year, and filing one meaningful PR every 18 months, you are still lapping the developer who is doing nothing.</p>

<p>
<img class="main" src="https://i.imgur.com/B0JHLJz.png" alt="Favorite" /></p>
<header>
  <h3 id="takeownership">Take ownership 🔥</h3>
</header>

<p>All of the above revolves around one idea - 'take ownership'. You are a part of the community of the code you use. Participate. Speak up. Be heard. Your advancement will happen naturally.</p>

<p>Rails 5.1 <a href="https://m.patrikonrails.com/rails-5-1s-form-with-vs-old-form-helpers-3a5f72a8c78a">introduced form<em>with, effectively 'soft-replacing' form</em>tag and form_for</a>. I thoroughly enjoyed jumping on this approach with all new forms on upgraded apps. I used the <a href="https://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-form_with">core docs whenever I had a question</a>. One day I found my way on <a href="https://edgeguides.rubyonrails.org/form_helpers.html">Rails Guides</a> with a question about <code>form_with</code>, and noticed that it was not mentioned anywhere in the form helper guide. In its place were still mentions solely of <code>form_for</code> and <code>form_tag</code>. That did not seem quite right. <strong>(NOTE: The code for Rails Guides is a part of Rails-core)</strong></p>

<p>I found my way to the original <code>form_with</code> issue and <a href="https://github.com/rails/rails/issues/25197#issuecomment-408386800">asked about this, offering to help in any way I could</a>. <a href="https://github.com/rails/rails/issues/25197#issuecomment-408600838">The original author</a> and <a href="https://github.com/rails/rails/issues/25197#issuecomment-408448753">DHH himself</a> agreed with my observation, and told me to 'take a stab at it'! 😱</p>

<p><strong>No Pressure</strong></p>

<p>
<img class="main" src="https://i.imgur.com/s0jWege.png" alt="Favorite" /></p>

<p>I nervously added a discussion about form_with to the guides, and after a code review reworked the whole guide to only mention <code>form_with</code> with a <code>form_for/form_tag</code> footnote. <a href="https://github.com/rails/rails/pull/33523">It was ultimately reviewed and merged!</a> I will be doing a further overhaul PR in the new future as well.</p>

<p>At no point was I <strong>trying</strong> to get the 'Rails Contributor' feather in my cap. I just wanted to 'take ownership' of what mattered to me. So should you.</p>
